
<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body class="container">

    <%- include('../partials/header'); %>

    <main>

        <div class="jumbotron">
            <h1>SOBRE MIM</h1>
            <p>oi,sou Fernando aluno da rockseat...</p>

        </div>

    </main>

    <%- include('../partials/footer'); %>
    
</body>
</html>